<!Doctype html>
<html ng-app="setup">
<head>
</head>
<body>
<h3>Repeater Controller</h3>
<div ng-controller="RepeaterController">
    <div ng-repeat="user in users">
        {{user.name}} : {{user.gender}}
    </div>

</div>

<div ng-controller="CountController">
    <h2>{{ val }}</h2>

    <button ng-click="up()">Increment</button>
    <button ng-click="down()">Decrement</button>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script type="text/javascript" src="js/setup.js"></script>
</body>
</html>